trained_models/*/*
trained_models/*
.ipynb_checkpoints/*
__pycache__/*
data/*
data
backup
patches/*
nohup.out
test/
*.xlsx
working/*
working1/*
working2/*
backup/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
notebooks/hidden_noise/*
notebooks/norms/*
